

input:focus {outline:0;}

body {
    background: #E87162;
}
.container {
    
    height: 100vh;
}

.search-area {
    z-index: 10;
    position: relative;
/*    background: #000;*/
/*    width: 0px;*/
    margin: 0;
    text-align: center;
    top: 50vh;
    
}

/*
.search-area input {
    width: 100%;
}
*/

.search {
    width: 50px;
    height: 50px;
    border: solid #F44336;
    background: #E87162;
    color: #F2EEEA;
    font-size: 1.4em;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.box-input {
    width: 250px;
    border-radius: 10px;
    padding-right: 50px;
}

.random {
	margin-top: 10px;
	
}

.random a {
	text-decoration: none;
	color: #F2EEEA;
}

.cross {
   position: relative;
    
    cursor: pointer;
    width: 35px;
    height: 35px;
    left: 58vw;
    display: none;
    bottom: 45px;
}
.cross:before, .cross:after {
    position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #5F5E5D;

}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.after-search {
   
    top: 10vh;
}

#show-results a, a:visited {
    text-decoration: none;
	color: #5F5E5D;
}

#result-area {
    position: relative;
    top: 100px;
    padding: 0 10%;
    
}

#result-area .search-item {
    background: #fff;
}

 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #E87162;
    color: #F2EEEA;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
	 border: solid #F44336;
}

 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #F44336 transparent transparent transparent;
}

#search:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.search-item {
	padding: 10px;
	margin-bottom: 20px;
}

.search-item p {
	background: #B4B2AE;
}